
  
  .button-container-div {
    width: 50px;
    height: 100px;
    border: 1px solid #181616;
    
    justify-content: center;
    align-items: center;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}



.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

input{
  display: none;
}

    .zoom {

        transition: transform .2s; /* Animation */
        margin: 0 auto;
        display: inline-block;
        padding: 15px 30px;
        color:rgb(7, 8, 8);
        text-transform: uppercase;
        border-radius: 30px;
        line-height: 1;
        }
    
    .zoom:hover {
      transform: scale(2); 
      /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .btn{
      display: inline-block;
      padding: 10px 20px;
      color:rgb(7, 8, 8);
      text-transform: uppercase;
      background: rgba(252, 252, 252, 0.1);
      text-decoration: solid;
      border-radius: 50px;
      line-height: 1;
      letter-spacing: 2px;
      font-size: 14px;
      cursor: pointer;
  }
  .btn2 {
  border: 2px solid gray;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  margin-right:16px;
  cursor: pointer;
}
      .btn2:hover {
        transform: scale(1.2); 
        background-color: rgb(2, 2, 2);
        color:whitesmoke;
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }


      .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 9999;
        width: 150px;
        height: 150px;
    }


    /*header CSS*/
    .header_img {
        float: left;
        width: 3%;
        height: 3%;
        background: #555;

      }
      
      .header h1 {
        position: relative;
        top: 10px;
        left: 10px;
        color: white;
      }
      